# omogućiti URL rewrite
RewriteEngine On

# preskoči ukoliko postoji datoteka
RewriteCond %{REQUEST_FILENAME} !-f

# preskoči ukoliko postoji direktorij
RewriteCond %{REQUEST_FILENAME} !-d

# svi zahtjevi idu na idex.php
RewriteRule (.*) index.php [L,E=PATH_INFO:/$1]